

body {
	font-family: "Helvetica", Arial, sans-serif; 
	margin:0px;
	padding:0px;
	
	
	}

#home {
	text-align: center;
	background:url("../images/app-bg.jpg");
	background-position:center;
	background-position:top;
	background-repeat:no-repeat;
	
	}

#home h3 {
	font-family: Arial, sans-serif; 
	color:#ffffff;
	font-size:12px;
	font-weight: 100;
	font-style: normal;
	text-align:left;


	}
	
#home h2 {
	font-family: Georgia, "Helvetica", Arial, sans-serif; 
	color:#ffcc00;
	font-size:16px;
	font-weight: 100;
	font-style: normal;
	text-align:center;
	}
	
#home h1 {
	font-family: Georgia; 
	color:#ffffff;
	font-size:24px;
	font-weight: 100;
	font-style: normal;
	text-align:center;
	margin-bottom:-15px;
	}

#home .ui-controlgroup {
	width: 60%;
	margin:0 auto;
	margin-top: 20px;
	max-width: 250px;
	}
#home img {
width: 100%;
	max-width: 200px;

	
	}
#videolist img {
	display: block;
	width: 90%;
}

.ui-icon-av_video {
	background-image: url("../images/icon_video.png");
}
.ui-icon-av_contact {
	background-image: url("../images/icon_contact.png");
}
	
.ui-icon-av_gallery {
	background-image: url("../images/icon_gallery.png");
	}

.ui-icon-av_news {
	background-image: url("../images/icon_news.png");
	}

.ui-icon-av_act{
	background-image: url("../images/icon_act.png");
	}
#photolist img {
	width:92px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	}
#photolist .ui-block-a,
#photolist .ui-block-b,
#photolist .ui-block-c {
	width: 92px;
	height: 92px;
	padding: 2px;
	}
#photolist .ui-grid-c{
	width: 330px;
	padding: 0;
	margin: 0 auto;
	}
#showphoto {
	background:#FFF; /* fallback for browser that not support rgba */
	background: rgba(255,255,255, .5); /* Works on all modern browsers */
	}
#showphoto img {
	display: block;
	margin: 0 auto;
	max-width:1024px;
	width:100%
	
	}
	
@media only screen (-webkit-min-device-pixel-ratio:2) {
.ui-icon-av_video {
	background-image: url("../images/icon_video_hr.png");
	background-size: 18px 18px;
}
	
.ui-icon-av_gallery {
	background-image: url("../images/icon_gallery_hr.png");
	background-size: 18px 18px;
	}
	
.ui-icon-av_contact {
	background-image: url("../images/icon_contact_hr.png");
	background-size: 18px 18px;
	}

.ui-icon-av_news {
	background-image: url("../images/icon_news_hr.png");
	background-size: 18px 18px;
	}

.ui-icon-av_act{
	background-image: url("../images/icon_act_hr.png");
	background-size: 18px 18px;
	}
}

#videolist h3 {
	margin: 15px 0 5px 0;
	height: 40px;
	overflow: hidden;
	font-size: 1em;
	max-width: 80%;
	min-width:50%;
}

#videolist img {
	width: 90%;
}

#videolist a {
	text-decoration:none;
	color: #777;	
}
#videoplayer .ui-content {
	margin: 0;
	padding: 0;
}

#videoplayer iframe {
	width: 100%;
	min-height:50%;
}
#video h3, #myplayer p {
	padding: 0 5%;
}

